# Diretorios
vendor/guzzlehttp*
vendor/psr*
vendor/ralouphie*
vendor/symfony*
vendor/composer*
vendor/theseer*
vendor/sebastian*
vendor/phpunit*
vendor/phar-io*
vendor/nikic*
vendor/nikic/
vendor/myclabs/
vendor/bin*
vendor/masterminds*
vendor/squizlabs*