# Diretorios
vendor/guzzlehttp*
vendor/psr*
vendor/ralouphie*
vendor/symfony*
vendor/composer*
vendor/theseer*
vendor/sebastian*
vendor/phpunit*
vendor/phar-io*
vendor/nikic*
vendor/nikic/
vendor/myclabs/
vendor/bin*
vendor/masterminds*
vendor/squizlabs*
vendor/doctrine*
vendor/felixfbecker*
vendor/felixfbecker/
vendor/microsoft*
vendor/microsoft/
vendor/netresearch*
vendor/phan*
vendor/phan/
vendor/phar-io*
vendor/phar-io/
vendor/phpdocumentor*
vendor/phpdocumentor/
vendor/phpstan*
vendor/sabre*
vendor/tysonandre*
vendor/webmozart*